.header {
  position: fixed;
  width: 100%;
  padding-block: 20px;

  background: rgba(31, 31, 31, 0);
  backdrop-filter: blur(10px);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 33px;
      li {
        a {
          color: rgb(161, 161, 161);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }

  .buutons {
    display: flex;
    gap: 5px;

    a {
      padding: 10px 30px;
      background: #00000000;
      border: solid rgb(0, 94, 235) 3px;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      color: white;
    }
    a:hover {
      box-shadow: 0 0 10px rgb(0, 94, 235), 0 0 20px rgb(0, 94, 235);
      transition: 0.2s;
    }
    a:active {
      background: rgb(0, 94, 235);
      color: #000000;
      transition: 0.1s;
    }
  }

  .bur {
    padding: 10px 30px;
    background: #00000000;
    border: solid rgb(0, 94, 235) 3px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    box-shadow: 0 0 10px rgb(0, 94, 235), 0 0 20px rgb(0, 94, 235);
    transition: 0.2s;
  }
  button:active {
    background: rgb(0, 94, 235);
    color: #000000;
    transition: 0.1s;
  }
}
